html {
    font-family: 'Open Sans', sans-serif;  
}
body {
    background-color: #efefef;
}

.navigation {
    background-color: #272828;
    display: flex;
   justify-content: space-between;
}

.navigation .nav {     
    display: flex;
    margin-top: 8%;
}
/* **************for iphone is next line******* */

@media only screen and (max-width: 600px) {

    .navigation .nav {
        font-size: smaller;
        flex-direction: column;
        justify-content: space-around;
        text-align: left;
        margin-left: 0;
        padding: 8px;
        max-width: 400px;   
    }  
}

.navigation .nav li {
    display: inline;
    margin: 0px 20px;
}

.navigation .nav li #shares {
    color: #aeaeae;
}

.navigation .nav li a {
    color: #6b6b6b;
}

.navigation .nav li img {
    display: inline;
    height: 20px;
    margin-right: 10px;
    margin-bottom: -5px;
}

.navigation .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}
.navigation .right .user-name a {
    color: #2985b4f5;
}

.navigation .right .user-name img {
    height: 30px;
}

.navigation .right .user-name #arrow {
    height: 15px;
    transform: rotateZ(59deg);
}

main > h2 {
    margin-left: 25px;
    color: #545454;
    font-size: 43px;
}

.shares-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
   
    /* flex-direction: column; */
}
.shares-container .card-container {
    background-color: #ffffff;
    border: 1px solid #aaa9a95e;
    /* padding: 20px; */
    margin: 5px;
    box-shadow: 0px 4px 6px 0px rgb(145 146 147 / 62%);
}
.shares-container .card-container .card-header {
    background-image: url("images/img1.jpg");
    background-size: 100% 100%;
}
.shares-container .card-container .card-header > h2 {
    padding: 0;
    margin:0;
}

.shares-container .card-container .card-header #shareIcon img {
    height: 20px;
    border-radius: 50%;
}

.shares-container .card-container .card-body {
    padding: 20px;
    color: #545454;
}

.shares-container .card-container .card-body h3 {
    margin: 0;
}

.shares-container .card-container .card-body h5 {
    margin-top: 5px;
    color: #c7c8ca;
}

.shares-container .card-container .card-body .link-box {
    background-color: #efefef;
    padding: 1px;

}
.shares-container .card-container .card-body .link-box p {
    font-size: 13px;
    color: gray;
    padding: 0px 10px;
}
.shares-container .card-container .card-body h4 {
    margin-bottom: 3px;
}
.shares-container .card-container .card-body > h2 {
   margin: 0px;
   color: #27b4fd;
}
